body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}
h1 {
    font-size: 3rem;
    color: #312614;
    text-align: center;
}
h1 span {
    color: #b7832f;
}
h2 {
    font-size: 1.5rem;
}
p {
   margin-top: 0; 
}
img {
    max-width: 100%;
}
.container {
    width: 95%;
    max-width: 61.25rem;
    margin: 0 auto;
}
.columns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}
.col-1 {
    width: 20%;
}
.col-2 {
    width: 45%;
}
.col-3 {
    width: 75%;
}
.col-bg {
    background: #353d20;
    padding: .5em;
    color: #fff;
}
/* body {
    margin: 0;
    font-size: 18px;
    font-family: 'Lata', sans-serif;
    color: #2e354f;
}
img {
    width: 100%;
}
h1, h2, strong {
    font-weight: 900;
}
h1 {
    font-size: 2.25rem;
    margin: 0;
}
h2 {
    font-size: 1.5rem;
    color: #ef5839;
}
a {
    color: #ef5839;
}
a:hover, a:focus {
    color: #d4b44c;
}
.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}
.btn-accent {
    background: #ef5839;
    color: #fff;
}
.btn-accent:hover {
    color: #2e354f;
    background: #d4b44c;
}
.btn-white {
    background: #fff;
    color: #2e354f;
}
.btn-white:hover {
    color: #2e354f;
    background: #999;
}
header {
    background: #2e354f;
    padding: 2.8125rem 0;
    color: #fff;
}
section {
    padding: 2.8125rem 0;
}

.container {
    width: 90%;
    max-width: 38.75rem;
    margin: 0 auto;
    border: 2px solid magenta;
}

.section-two {
    background: #2e354f;
    color: #fff;
}
.card {
    background: #000;
    color: rgb(255, 255, 255);
    width: 560px;
    margin: 0 auto;
    padding: 45px;
}
h1, p {
    margin-top: 0;
}
h1 {
    font-size: 3rem;
    margin-bottom: .5em;
}
p {
    font-size: 1.125rem;
}
a {
    color: black;
}
.button {
    display: inline-block;
    background: #ffe680;
    color: black;
    padding: 0.5em 1.25em;
    text-align: center;
    text-decoration: none;
    margin-bottom: 3.125em;
}
.button:hover {
    background: orange;
    color: #000;
}
.btn-big {
    font-size: 1.5rem;
}
.btn-small {
    font-size: .75rem;
}
.acent-color {
    color: #ffe600;
}
.links {
    margin-top: 0;
    margin-bottom: 0;
} */