body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
img {
    max-width: 100%;
    display: block;
}
h1, h2, h3, .article-title {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
}
h1 {
    font-size: 2rem;
    margin: 0;
}
a {
    color: #1792d2;
}
a:hover, a:focus {
    color: #143774;
}
strong {
    font-weight: 700;
}
.upper {
    text-transform: uppercase;
}
.subtitle {
    font-weight: bold;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}
.article-title {
    font-size: 1.5rem;
}
.article-read-more, .article-info {
    font-size: .875rem;
}
.article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
}
.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}
.article-info {
    margin: 2em 0;
}
.container {
    width: 90%;
    max-width: 56.25rem;
    margin: 0 auto;
}
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 2em 0;
    background: #f8f8f8;
    text-align: center;
}
@media (min-width: 42.1875em) {
    .container-flex {
        flex-direction: row;
    }
    main {
        width: 75%;
    }
    aside {
        width: 20%;
    }
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin-left: 2em;
}
nav ul li a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}
nav a:hover, nav a:focus {
    color: #1792d2;
}
.current-page {
    border-bottom: 1px solid #707070;
}
.current-page:hover {
    color: #707070;
}
@media (max-width: 42.1875rem) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: .5em 0;
    }
}
.article-features {
    border-bottom: 1px solid #707070;
    padding-bottom: 1em;
    margin-bottom: 2em;
}
/* body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
} */
/* @media (min-width: 26.625em) {
    body {
        background: green;
    }
}
@media (min-width: 48.0625em) {
    body {
        background: rgb(127, 128, 127);
    }
} */
/* h1 {
    font-size: 3rem;
    color: #312614;
    text-align: center;
}
h1 span {
    color: #b7832f;
}
h2 {
    font-size: 1.5rem;
}
p {
   margin-top: 0; 
}
img {
    max-width: 100%;
}
.container {
    width: 95%;
    max-width: 61.25rem;
    margin: 0 auto;
}
.columns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}
.col-1 {
    width: 20%;
}
.col-2 {
    width: 45%;
}
.col-3 {
    width: 75%;
}
.col-bg {
    background: #353d20;
    padding: .5em;
    color: #fff;
}
@media (max-width: 42.5em) {
    .columns {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
} */

/* body {
    margin: 0;
    font-size: 18px;
    font-family: 'Lata', sans-serif;
    color: #2e354f;
}
img {
    width: 100%;
}
h1, h2, strong {
    font-weight: 900;
}
h1 {
    font-size: 2.25rem;
    margin: 0;
}
h2 {
    font-size: 1.5rem;
    color: #ef5839;
}
a {
    color: #ef5839;
}
a:hover, a:focus {
    color: #d4b44c;
}
.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}
.btn-accent {
    background: #ef5839;
    color: #fff;
}
.btn-accent:hover {
    color: #2e354f;
    background: #d4b44c;
}
.btn-white {
    background: #fff;
    color: #2e354f;
}
.btn-white:hover {
    color: #2e354f;
    background: #999;
}
header {
    background: #2e354f;
    padding: 2.8125rem 0;
    color: #fff;
}
section {
    padding: 2.8125rem 0;
}

.container {
    width: 90%;
    max-width: 38.75rem;
    margin: 0 auto;
    border: 2px solid magenta;
}

.section-two {
    background: #2e354f;
    color: #fff;
}
.card {
    background: #000;
    color: rgb(255, 255, 255);
    width: 560px;
    margin: 0 auto;
    padding: 45px;
}
h1, p {
    margin-top: 0;
}
h1 {
    font-size: 3rem;
    margin-bottom: .5em;
}
p {
    font-size: 1.125rem;
}
a {
    color: black;
}
.button {
    display: inline-block;
    background: #ffe680;
    color: black;
    padding: 0.5em 1.25em;
    text-align: center;
    text-decoration: none;
    margin-bottom: 3.125em;
}
.button:hover {
    background: orange;
    color: #000;
}
.btn-big {
    font-size: 1.5rem;
}
.btn-small {
    font-size: .75rem;
}
.acent-color {
    color: #ffe600;
}
.links {
    margin-top: 0;
    margin-bottom: 0;
} */